.highlightButton {
    background-color: var(--main-blue);
    border: 1px solid transparent;    
    color: white;    

    transition: background-color .2s;

    &:hover {
        background-color: var(--stronger-main-blue);
        
    }
}
  
.defaultButton {
    color: var(--main-blue);
    background-color: transparent;
    border: 1px solid var(--main-blue);     
    
    transition: background-color .2s;
  
    &:hover {
        background-color: var(--ultra-light-blue);        
    }  
}

.mat-step-header:hover{
    background-color: transparent!important;
}
.mat-step-header.cdk-program-focused {
      background-color: var(--ultra-light-blue);
  }
.mat-step-header.cdk-mouse-focused{
    background-color: var(--ultra-light-blue);
}
.mat-step-header.cdk-focused{
    background-color: var(--ultra-light-blue);
}
