mat-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--auxiliar-gray);

    font-size: 1.4rem;
    cursor: pointer;    

    transition: color .3s;
    
    &:hover {
        color: white;
    }
}