.container {
    display: flex;
    height: 100%;
    width: 100%;
    flex: content;
}

.header-content-footer-area{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > div {
         height: 100%;
         padding: 10px;
         background-color: var(--ultra-light-blue);
         display: flex;
         align-items: center;
         justify-content: center;

    }

}

router-outlet {
    display: none;
}