:root {
  --main-blue: #165C7D;
  --ultra-light-blue: #E7EEF1;
  --main-orange: #FFCD75;
  --auxiliar-gray: #9BA2A8;  
  --black: #000000;
  --red: #FF0000;  
  
  font-size: 80%; /* controle das medidas rem */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body { height: 100%; width: 100% }
body { margin: 0; font-family: "Open Sans", "Helvetica Neue", sans-serif; }

mat-icon {
  color: white;
}