.container {
    height: 100%;
    width: 54px;
    padding: 12px 6px;
    background-color: var(--main-blue);
    display: flex;
    flex-direction: column;
    align-items: center;   
    
    img {
        cursor: pointer;
    }
    
    
    ul {        
        list-style: none;
                                   
        li:not(:last-child) { 
            margin-bottom: 25px;  
        }
        
    }
    
    .main-icon {
        width: 35px;
        height: 35px;
        margin-bottom: 16px;
    }  
}
